

.grid {
    display: grid;
    width: 100%;
    max-width: 85vw; 
    margin: 0 auto; 
    padding: 20px; 
    padding-top:10vh;
    box-sizing: border-box; 
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    /* border: 10px solid white; */
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 10px;
        padding-top: 5vh;
    }
}
.spacer {
    position: sticky; /* stays at top when scrolling but remains in layout */
    top: 0;
    height: 5rem;
    width: 100%;
    box-sizing: border-box;
    /* border: 5px solid white; */
    z-index: 1000;
    /* background: white; ensure it visually blocks content beneath */
}

