.navbar{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    z-index: 100;
    background-color: rgb(17, 17, 17);
    top:0;
    left:50%;
    transform: translateX(-50%);
    padding: 0 2rem;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

form input{
    height: 2rem;
    width: 14rem;
    border-radius: 2rem;
    border: 1px solid rgb(104, 104, 104);
    outline: 1px solid rgb(49, 49, 49);
    background: rgb(17, 17, 17);
    box-shadow: none;
    color: white;
    padding-left: 1rem;
}

#LOGO{
    fill: white;
    height: 2rem;
    cursor: pointer;
}

@media (max-width: 500px) {
    .navbar {
        padding: 0 1rem;
    }
    form input {
        width: 10rem;
    }
}