#CurrentPage {
    border: 1px solid rgba(255, 179, 37, 0.504);
}

.pages {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.pages ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0;
    width: 100%;
}


ul button {
    display: inline-flex;
    margin: 0rem 0.2rem;
}

.mobileView {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: center;
}

.mobileView button {
    display: flex;
    flex: 1 1 auto;
    min-width: 60px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.mobileView .page_number {
    border: 2px solid rgb(245, 213, 31);
}