.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}


.movieInfo_text{
    position:absolute;
    top:10%;
}


.movieInfo_text .title{
    top:5%;
    margin-bottom:0;
    font-size: 3rem;
    color:yellow
    
}

.movieInfo_text .rating{
    top:5%;
    margin-bottom:0;
    margin-top:0;

    font-size: 2rem;
    color:rgb(255, 255, 255)
    
}


.movieInfo_text .year{
    
    /* line-height: rem; */
    font-size: 1rem;
    margin-bottom:0px;
}
.movieInfo_text .genres{
    margin-bottom:0px;
    
    font-size: 1rem;
    text-wrap: normal;
}

.popup::before{
    content: '';
    position: absolute;
    background-image: var(--bg-image);
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
    filter: blur(10px);
    background-position: center;
    background-size: cover;
}


